@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow-x-scroll::-webkit-scrollbar {
    display: none;
}

.zoom {
    transition: transform .5s;

  }

.zoom:hover {
    transform: scale(1.2);
  }

  .gptButton {
    background-color: darkseagreen;
    color: black;
  }

  .gptButton:hover {
    font-weight: 700;
    background-color: white;
    color: darkseagreen;
  }